.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #121212;
    color: white;
    text-align: center;
    overflow-y: auto; /* Dikey kaydırmayı sağlama */
    position: relative; /* Konumlandırma için gerekli */
    margin-bottom: 60px; /* Footer ile çakışmayı önlemek için alt boşluk ekledik */
}

.header {
    display: flex;
    justify-content: center;
    gap: 20px; /* Aradaki boşluk */
    margin-bottom: 20px; /* Alt kenardan uzaklık */
}

.token-count, .ticket-count {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 10px;
}

.icon-wrapper {
    background-color: #6200ea;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon0 {
    color: white;
    font-size: 24px;
}
.icon1 {
    color: orange;
    font-size: 24px;
}
.home-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.game-area {
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 18px;
    z-index: 1; /* Üstte kalması için */
}

.game-placeholder {
    height: 250px;
    width: 100%;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 18px;
    position: relative; /* Konumlandırma için gerekli */
}

.piano-icon {
    width: 285px; /* Resim boyutu */
    height: 100px;
    margin-bottom: 10px;
}

.game-description {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
    color: #ffeb3b;
}

.play-button {
    position: absolute;
    bottom: 10px; /* Alt kenardan uzaklık */
    right: 10px; /* Sağ kenardan uzaklık */
    background-color: #6200ea;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 125px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}

.play-button:hover {
    background-color: #3700b3;
}

.background-notes {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0; /* Arkada kalması için */
    overflow: hidden;
}

.note {
    position: absolute;
    opacity: 0.5;
    animation: float 10s infinite;
}

@keyframes float {
    0% {
        transform: translate(0, 0) rotate(0deg);
        opacity: 0.5;
    }
    25% {
        transform: translate(50px, -50px) rotate(15deg);
        opacity: 0.7;
    }
    50% {
        transform: translate(-50px, -100px) rotate(-10deg);
        opacity: 1;
    }
    75% {
        transform: translate(50px, -150px) rotate(10deg);
        opacity: 0.7;
    }
    100% {
        transform: translate(0, -200px) rotate(0deg);
        opacity: 0.5;
    }
}
